body {
    margin: 0;
    font-family: monospace, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

#editor {
    width: 100%;
    height: 100%;
    flex: 7;
    position: relative;
    display: flex;
    min-height: 100%;
    overflow: initial;
}

#editor textarea, #editor pre {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    margin: 0;
}

#editor textarea {
    color: transparent;
    caret-color: red;
    background: transparent;
}

#editor textarea, #editor pre {
    top: 0;
    min-height: 100vh;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    overflow-y: visible;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow-x: hidden;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    -webkit-line-break: after-white-space;
    border: none;
    padding: 8px !important;
    margin: 0 !important;
    white-space: break-spaces !important;
    resize: none;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5 !important;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    hyphens: none;
    font-family: monospace;
}

.flex{
    display: flex;
}

.flex > *{
    flex: 1;
}

#files {
    min-height: 100vh;
    border-right: 1px solid #ccc;
}



.flex.horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
}

#ascn {
    position: absolute;
    top: 8px;
    right: 18px;
    width: calc( 256px + 64px );
    height: calc( 256px + 64px );
    z-index: 1000000;
}


#files,#editor{}

#run,#plus {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 123px;
}

#files {
    width: 155px;
    flex: unset;
    margin-top: 25px;
}

#run img,#plus img,.icon img {
    width: 32px;
    height: 32px;
    position: absolute;
}

#plus {
    left: 3px;
    border: none;
    top: 5px;
}

#plus img {
    width: 24px;
    height: 24px;
}

#editor textarea{
    z-index: 100000;
}
#editor pre{
    z-index: 10;
}


#editor {
    margin-left: 155px;
}

#files {
    position: fixed;
}

#run, #plus,.icon {
    position: fixed;
}

#run{
    display: none;
}

body.js #run{
    display: block;
}

#files {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 6px;
    padding-top: 28px;
    width: 140px;
}

#run, #plus,.icon {
    position: fixed;
    z-index: 10000;
}

#minus {
    position: absolute;
    right: 18px;
    top: 4px;
}
#minus img {
    width: 14px;
    height: 14px;
}

.list {
    position: relative;
}

.list .icon{
    display: none;
}

.list:hover .icon{
    display: block;
}

.list {
    position: relative;
    width: 100%;
    padding: 2px;
    font-size: 16px;
}

.list:hover {
    background: #dcdcdc;
}

img#svg {
    display: none;
    width: 256px;
    height: 256px;
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 10000;
    border: 1px solid #ccc;
}
body.svg img#svg {
    display: block;
}

#log,#cmd div.content {
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 1000;
    left: 153px;
    height: 125px;
    border-top: 1px solid #ccc;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 0;
    background: #fff;
}

#log pre,#cmd pre{
    margin: 0;
}

#editor {
    margin-left: 155px;
    position: absolute;
    top: 0;
    bottom: 100px;
    height: 100%;
    padding-bottom: 220px;
    box-sizing: content-box;
}


#log-tools {
    position: fixed;
    bottom: 122px;
    left: 154px;
    right: 0;
    height: 32px;
    border-top: 1px solid #ccc;
    padding: 4px;
    z-index: 100000;
}

#log-tools pre {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}

#cmd {
    z-index: 200;
}


[name="cmd"] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    caret-color: red;
    outline: none;
    border: none;
    border-top: 1px solid #ccc;
    z-index: 99999;
}

#cmd div.content {
    display: inline-grid;
    justify-content: space-evenly;
    padding-bottom: 24px;
    height: 109px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
    overflow: scroll;
    align-content: stretch;
}

#cmd {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 153px;
    height: 163px;
    display: flex;
}


#log pre, #cmd pre {
    margin: 0;
    white-space: break-spaces !important;
    resize: none;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5 !important;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    hyphens: none;
    font-family: monospace;
    display: inline-grid;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    position: absolute;
    justify-items: stretch;
    margin-left: 0;
    padding: 0;
    height: 200px;
}

#cmd div.content {
    display: inline-grid;
    justify-content: space-evenly;
    padding-bottom: 24px;
    height: 109px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
    overflow: scroll;
    align-content: stretch;
}

#cmd {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 153px;
    height: 163px;
    display: flex;
}

#log-tools {
    position: fixed;
    bottom: 122px;
    left: 154px;
    right: 0;
    height: 19px;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    z-index: 10000000;
    background: #fff;
}

#log-tools p {
    display: inline-block;
    margin: 0;
}

#log pre, #cmd pre {
    height: 114px;
}

#editor {
    height: 100vh;
}

#editor textarea, #editor pre {
    padding-bottom: 224px !important;
}

#log pre, #cmd pre {
    margin: 0;
    white-space: break-spaces !important;
    text-align: left;
    line-height: 1.5 !important;
    font-family: monospace;
    display: block;
    width: 100%;
    margin: 0;
    left: 0;
    position: relative;
    margin-left: 0;
    padding: 0;
    height: auto !important;
}

#cmd div.content {
    display: inline-grid;
    padding-bottom: 24px;
    height: 109px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
    overflow: scroll;
    align-content: stretch;
    justify-content: start;
}

#files {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 6px;
    padding-top: 28px;
    width: 140px;
    max-height: 100vh;
    overflow: auto;
}




#getf{
    position: fixed;
    z-index: 999999999;
}

#run {
    display: block;
}

#exec {
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 999999999;
    cursor: pointer;
}

#editor {
    position: absolute;
    overflow-x: hidden;
    right: 0;
    left: 0;
    width: auto;
    bottom: 0;
    height: auto;
    top: 0;
    min-height: unset;
    padding-bottom: 0;
    margin-bottom: 17px;
    margin-left: 0;
}


.renderer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
}

.icon {
    position: relative;
    margin: 3px;
}

#editor textarea, #editor pre {
    overflow: hidden;
    margin-bottom: 240px !important;
    padding-bottom: 240px !important;
    padding-top: 44px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}


#editor {
    position: absolute;
    overflow-x: hidden;
    right: 0;
    left: 0;
    width: auto;
    bottom: 0;
    height: auto;
    top: 0;
    min-height: unset;
    padding-bottom: 0;
    margin-bottom: 17px;
    margin-left: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}




body {
    font-size: 15.8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#editor textarea, #editor pre {
    font-size: 15.8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.list {
    font-size: 15.8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#editor textarea, #editor pre {
    font-size: 14.23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    height: fit-content;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}


#editor textarea{
    caret-color: red;
    z-index: 999999999;
}

#main-links {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8px;
}
#main-links a {
    margin-right: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #8f8f8f;
}

#editor textarea, #editor pre {
    line-height: 1.41em !important;
}

.files {
    position: relative;
    margin-left: 14px;
}
#files-list {
    left: -14px;
    position: relative;
}

.directory.not-list > .files{
    display: none;
}
#files-list .directory > .name {
    font-weight: 500;
    color: #5d0c56;
}
#files-list .file {
    color: #547560;
}





.renderer {
    z-index: 10;
}
.icon {
    cursor: pointer;
}