/*body{
    overflow: hidden;
}*/

.xmmfrme {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    right: auto;
    width: 100%;
    bottom: auto;
    height: 100%;
}
.xmmfrme .mask {
    display: none;
    width: 50%;
    height: 50%;
    left: 0%;
    top: 0%;
    background: #ccc;
    position: absolute;
}
.xmmfrme .mask.right{

}
.xmmfrme .mask.bottom{

}
.xmmfrme .buttons {
    position: absolute;
    top: 4px;
    right: 4px;
}
.xmmfrme.split .mask {
    display: block;
}

.xmmfrme > div > * {
    clear: both;
}

.xmmfrme .mask {
    position: absolute;
    z-index: -1;
    background: #ccc;
    display: block;
}
.xmmfrme .buttons {
    z-index: 1000;
}